hscie-ripple-tie/src/main/resources/org/hscieripple/patient/consent/HSCIEDEV.SOAP.ConsentFindAll.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="FindConsentFindAllBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindConsentFindAllBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindConsentFindAllBOResult" type="s0:ConsentFindAllResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ConsentFindAllResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="ConsentsList" type="s0:ArrayOfConsentFindAllResultRowPairOfConsentsListKeyConsentFindAllResultRow"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:complexType name="ArrayOfConsentFindAllResultRowPairOfConsentsListKeyConsentFindAllResultRow">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ConsentFindAllResultRow" nillable="true" type="s0:PairOfConsentsListKeyConsentFindAllResultRow"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfConsentsListKeyConsentFindAllResultRow">
                <s:complexContent>
                    <s:extension base="s0:ConsentFindAllResultRow">
                        <s:attribute name="ConsentsListKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ConsentFindAllResultRow">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                            <s:element minOccurs="0" name="ConsentStatus" type="s:boolean"/>
                            <s:element minOccurs="0" name="ConsentDate" type="s:string"/>
                            <s:element minOccurs="0" name="ConsentAuthor" type="s:string"/>
                            <s:element minOccurs="0" name="ConsentID" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="FindConsentFindAllBOSoapIn">
        <part name="parameters" element="s0:FindConsentFindAllBO"/>
    </message>
    <message name="FindConsentFindAllBOSoapOut">
        <part name="parameters" element="s0:FindConsentFindAllBOResponse"/>
    </message>
    <portType name="ConsentFindAllServiceSoap">
        <operation name="FindConsentFindAllBO">
            <input message="s0:FindConsentFindAllBOSoapIn"/>
            <output message="s0:FindConsentFindAllBOSoapOut"/>
        </operation>
    </portType>
    <binding name="ConsentFindAll" type="s0:ConsentFindAllServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindConsentFindAllBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.ConsentFindAll.FindConsentFindAllBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ConsentFindAllService">
        <port name="ConsentFindAll" binding="s0:ConsentFindAll">
            <soap:address location="http://10.152.3.237:57772/csp/healthshare/hscie_ripple_dev/HSCIEDEV.SOAP.ConsentFindAll.cls"/>
        </port>
    </service>
</definitions>