hscie-ripple-tie/src/main/resources/org/hscieripple/patient/consent/HSCIEDEV.SOAP.ConsentFindSingle.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="FindConsentFindSingleBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="ConsentID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindConsentFindSingleBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindConsentFindSingleBOResult" type="s0:ConsentFindSingleResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ConsentFindSingleResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                            <s:element minOccurs="0" name="ConsentStatus" type="s:boolean"/>
                            <s:element minOccurs="0" name="ConsentReason">
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="2550"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="ConsentDate" type="s:string"/>
                            <s:element minOccurs="0" name="ConsentAuthor" type="s:string"/>
                            <s:element minOccurs="0" name="ConsentID" type="s:string"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
        </s:schema>
    </types>
    <message name="FindConsentFindSingleBOSoapIn">
        <part name="parameters" element="s0:FindConsentFindSingleBO"/>
    </message>
    <message name="FindConsentFindSingleBOSoapOut">
        <part name="parameters" element="s0:FindConsentFindSingleBOResponse"/>
    </message>
    <portType name="ConsentFindSingleServiceSoap">
        <operation name="FindConsentFindSingleBO">
            <input message="s0:FindConsentFindSingleBOSoapIn"/>
            <output message="s0:FindConsentFindSingleBOSoapOut"/>
        </operation>
    </portType>
    <binding name="ConsentFindSingle" type="s0:ConsentFindSingleServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindConsentFindSingleBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.ConsentFindSingle.FindConsentFindSingleBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ConsentFindSingleService">
        <port name="ConsentFindSingle" binding="s0:ConsentFindSingle">
            <soap:address location="http://10.152.3.237:57772/csp/healthshare/hscie_ripple_dev/HSCIEDEV.SOAP.ConsentFindSingle.cls"/>
        </port>
    </service>
</definitions>