hscie-ripple-tie/src/main/resources/org/hscieripple/patient/consent/HSCIEDEV.SOAP.ConsentInsert.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="FindConsentInsertBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="NewConsentStatus" type="s:boolean"/>
                        <s:element minOccurs="0" name="NewConsentReason" type="s:string"/>
                        <s:element minOccurs="0" name="NewConsentDate" type="s:string"/>
                        <s:element minOccurs="0" name="NewConsentAuthor" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindConsentInsertBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindConsentInsertBOResult" type="s0:ConsentInsertResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ConsentInsertResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="SuccessMessage" type="s:string"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
        </s:schema>
    </types>
    <message name="FindConsentInsertBOSoapIn">
        <part name="parameters" element="s0:FindConsentInsertBO"/>
    </message>
    <message name="FindConsentInsertBOSoapOut">
        <part name="parameters" element="s0:FindConsentInsertBOResponse"/>
    </message>
    <portType name="ConsentInsertServiceSoap">
        <operation name="FindConsentInsertBO">
            <input message="s0:FindConsentInsertBOSoapIn"/>
            <output message="s0:FindConsentInsertBOSoapOut"/>
        </operation>
    </portType>
    <binding name="ConsentInsert" type="s0:ConsentInsertServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindConsentInsertBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.ConsentInsert.FindConsentInsertBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ConsentInsertService">
        <port name="ConsentInsert" binding="s0:ConsentInsert">
        </port>
    </service>
</definitions>