ripple-stft-tie/src/main/resources/org/hscieripple/patient/datasources/search/HSCIEDEV.SOAP.DataSources.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="FindAvailableDSBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="RequestType" type="s:string"/>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindAvailableDSBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindAvailableDSBOResult" type="s0:DataSourceResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="DataSourceResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="ResultCount" type="s:long"/>
                            <s:element minOccurs="0" name="Results" type="s0:ArrayOfResultsItemPairOfResultsKeyString"/>
                            <s:element minOccurs="0" name="ResultsSet" type="s0:ArrayOfDSResultRowPairOfResultsSetKeyDSResultRow"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:complexType name="ArrayOfResultsItemPairOfResultsKeyString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ResultsItem" nillable="true" type="s0:PairOfResultsKeyString"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfResultsKeyString">
                <s:simpleContent>
                    <s:extension base="s:string">
                        <s:attribute name="ResultsKey" type="s:string" use="required"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:complexType name="ArrayOfDSResultRowPairOfResultsSetKeyDSResultRow">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="DSResultRow" nillable="true" type="s0:PairOfResultsSetKeyDSResultRow"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfResultsSetKeyDSResultRow">
                <s:complexContent>
                    <s:extension base="s0:DSResultRow">
                        <s:attribute name="ResultsSetKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="DSResultRow">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="DataExists" type="s:boolean"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="FindAvailableDSBOSoapIn">
        <part name="parameters" element="s0:FindAvailableDSBO"/>
    </message>
    <message name="FindAvailableDSBOSoapOut">
        <part name="parameters" element="s0:FindAvailableDSBOResponse"/>
    </message>
    <portType name="DataSourcesServiceSoap">
        <operation name="FindAvailableDSBO">
            <input message="s0:FindAvailableDSBOSoapIn"/>
            <output message="s0:FindAvailableDSBOSoapOut"/>
        </operation>
    </portType>
    <binding name="DataSources" type="s0:DataSourcesServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindAvailableDSBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.DataSources.FindAvailableDSBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="DataSourcesService">
        <port name="DataSources" binding="s0:DataSources"/>
    </service>
</definitions>