hscie-ripple-tie/src/main/resources/org/hscieripple/patient/query/HSCIEDEV.SOAP.Patient.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
			 xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="findPatientBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="Forename" type="s:string"/>
                        <s:element minOccurs="0" name="Surname" type="s:string"/>
                        <s:element minOccurs="0" name="Gender" type="s:string"/>
                        <s:element minOccurs="0" name="DOB" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="findPatientBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="findPatientBOResult" type="s0:PatientDetailsResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="PatientDetailsResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="ResultCount" type="s:long"/>
                            <s:element minOccurs="0" name="Results" type="s0:ArrayOfResultsItemPairOfResultsKeyString"/>
                            <s:element minOccurs="0" name="ResultsSet" type="s0:ArrayOfResultRowPairOfResultsSetKeyResultRow"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:complexType name="ArrayOfResultsItemPairOfResultsKeyString">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ResultsItem" nillable="true" type="s0:PairOfResultsKeyString"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfResultsKeyString">
                <s:simpleContent>
                    <s:extension base="s:string">
                        <s:attribute name="ResultsKey" type="s:string" use="required"/>
                    </s:extension>
                </s:simpleContent>
            </s:complexType>
            <s:complexType name="ArrayOfResultRowPairOfResultsSetKeyResultRow">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ResultRow" nillable="true" type="s0:PairOfResultsSetKeyResultRow"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfResultsSetKeyResultRow">
                <s:complexContent>
                    <s:extension base="s0:ResultRow">
                        <s:attribute name="ResultsSetKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ResultRow">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                            <s:element minOccurs="0" name="Forename" type="s:string"/>
                            <s:element minOccurs="0" name="Surname" type="s:string"/>
                            <s:element minOccurs="0" name="Gender" type="s:string"/>
                            <s:element minOccurs="0" name="DOB" type="s:string"/>
                            <s:element minOccurs="0" name="Address" type="s:string"/>
                            <s:element minOccurs="0" name="PersonNumber" type="s:string"/>
                            <s:element minOccurs="0" name="PostCode" type="s:string"/>
                            <s:element minOccurs="0" name="ConsentStatus" type="s:boolean"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="findPatientBOSoapIn">
        <part name="parameters" element="s0:findPatientBO"/>
    </message>
    <message name="findPatientBOSoapOut">
        <part name="parameters" element="s0:findPatientBOResponse"/>
    </message>
    <portType name="PatientServiceSoap">
        <operation name="findPatientBO">
            <input message="s0:findPatientBOSoapIn"/>
            <output message="s0:findPatientBOSoapOut"/>
        </operation>
    </portType>
    <binding name="Patient" type="s0:PatientServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findPatientBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Patient.findPatientBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PatientService">
        <port name="Patient" binding="s0:Patient"/>
    </service>
</definitions>