hscie-ripple-tie/src/main/resources/org/hscieripple/patient/problems/HSCIEDEV.SOAP.Problems.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
	<types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
			<s:element name="FindProblemsDetailsBO">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" name="NHSNumber" type="s:long" />
						<s:element minOccurs="0" name="SourceID" type="s:string" />
						<s:element minOccurs="0" name="DataSource" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FindProblemsDetailsBOResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="FindProblemsDetailsBOResult" type="s0:ProblemsDetailsResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ProblemsDetailsResponse">
				<s:complexContent>
					<s:extension base="s0:Ens_Response">
						<s:sequence>
							<s:element minOccurs="0" name="SourceID" type="s:string" />
							<s:element minOccurs="0" name="Problem" type="s:string" />
							<s:element minOccurs="0" name="Description" type="s:string" />
							<s:element minOccurs="0" name="DateOfOnset" type="s:string" />
							<s:element minOccurs="0" name="Terminology" type="s:string" />
							<s:element minOccurs="0" name="Code" type="s:string" />
							<s:element minOccurs="0" name="Author" type="s:string" />
							<s:element minOccurs="0" name="DataSourceName" type="s:string" />
							<s:element minOccurs="0" name="DateCreated" type="s:string" />
							<s:element minOccurs="0" name="StatusCode" type="s:string" />
							<s:element minOccurs="0" name="StatusDesc" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Ens_Response">
				<s:complexContent>
					<s:extension base="s0:Ens_Messagebody" />
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Ens_Messagebody" />
			<s:element name="FindProblemsSummariesBO">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" name="NHSNumber" type="s:long" />
						<s:element minOccurs="0" name="DataSource" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FindProblemsSummariesBOResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="FindProblemsSummariesBOResult" type="s0:ProblemsSummaryResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ProblemsSummaryResponse">
				<s:complexContent>
					<s:extension base="s0:Ens_Response">
						<s:sequence>
							<s:element minOccurs="0" name="ProblemsList"
								type="s0:ArrayOfProblemsSummaryResultRowPairOfProblemsListKeyProblemsSummaryResultRow" />
							<s:element minOccurs="0" name="StatusCode" type="s:string" />
							<s:element minOccurs="0" name="StatusDesc" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType
				name="ArrayOfProblemsSummaryResultRowPairOfProblemsListKeyProblemsSummaryResultRow">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0"
						name="ProblemsSummaryResultRow" nillable="true"
						type="s0:PairOfProblemsListKeyProblemsSummaryResultRow" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="PairOfProblemsListKeyProblemsSummaryResultRow">
				<s:complexContent>
					<s:extension base="s0:ProblemsSummaryResultRow">
						<s:attribute name="ProblemsListKey" type="s:string"
							use="required" />
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="ProblemsSummaryResultRow">
				<s:complexContent>
					<s:extension base="s0:Ens_Response">
						<s:sequence>
							<s:element minOccurs="0" name="Problem" type="s:string" />
							<s:element minOccurs="0" name="DateOfOnset" type="s:string" />
							<s:element minOccurs="0" name="SourceID" type="s:string" />
							<s:element minOccurs="0" name="DataSourceName" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
		</s:schema>
	</types>
	<message name="FindProblemsDetailsBOSoapIn">
		<part name="parameters" element="s0:FindProblemsDetailsBO" />
	</message>
	<message name="FindProblemsDetailsBOSoapOut">
		<part name="parameters" element="s0:FindProblemsDetailsBOResponse" />
	</message>
	<message name="FindProblemsSummariesBOSoapIn">
		<part name="parameters" element="s0:FindProblemsSummariesBO" />
	</message>
	<message name="FindProblemsSummariesBOSoapOut">
		<part name="parameters" element="s0:FindProblemsSummariesBOResponse" />
	</message>
	<portType name="ProblemServiceSoap">
		<operation name="FindProblemsDetailsBO">
			<input message="s0:FindProblemsDetailsBOSoapIn" />
			<output message="s0:FindProblemsDetailsBOSoapOut" />
		</operation>
		<operation name="FindProblemsSummariesBO">
			<input message="s0:FindProblemsSummariesBOSoapIn" />
			<output message="s0:FindProblemsSummariesBOSoapOut" />
		</operation>
	</portType>
	<binding name="Problems" type="s0:ProblemServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="FindProblemsDetailsBO">
			<soap:operation
				soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Problems.FindProblemsDetailsBO"
				style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="FindProblemsSummariesBO">
			<soap:operation
				soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Problems.FindProblemsSummariesBO"
				style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ProblemService">
		<port name="Problems" binding="s0:Problems">
			<soap:address
				location="http://10.152.3.237:57772/csp/healthshare/hscie_ripple_dev/HSCIEDEV.SOAP.Problems.cls" />
		</port>
	</service>
</definitions>