hscie-ripple-tie/src/main/resources/org/hscieripple/patient/results/HSCIEDEV.SOAP.Results.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="FindResultsDetailsBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="SourceID" type="s:string"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindResultsDetailsBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindResultsDetailsBOResult" type="s0:ResultsDetailsResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ResultsDetailsResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="SourceID" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:element name="FindResultsSummariesBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindResultsSummariesBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindResultsSummariesBOResult" type="s0:ResultsSummaryResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ResultsSummaryResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="ResultsList" type="s0:ArrayOfResultsSummaryResultRowPairOfResultsListKeyResultsSummaryResultRow"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfResultsSummaryResultRowPairOfResultsListKeyResultsSummaryResultRow">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ResultsSummaryResultRow" nillable="true" type="s0:PairOfResultsListKeyResultsSummaryResultRow"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfResultsListKeyResultsSummaryResultRow">
                <s:complexContent>
                    <s:extension base="s0:ResultsSummaryResultRow">
                        <s:attribute name="ResultsListKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ResultsSummaryResultRow">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="SourceID" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="FindResultsDetailsBOSoapIn">
        <part name="parameters" element="s0:FindResultsDetailsBO"/>
    </message>
    <message name="FindResultsDetailsBOSoapOut">
        <part name="parameters" element="s0:FindResultsDetailsBOResponse"/>
    </message>
    <message name="FindResultsSummariesBOSoapIn">
        <part name="parameters" element="s0:FindResultsSummariesBO"/>
    </message>
    <message name="FindResultsSummariesBOSoapOut">
        <part name="parameters" element="s0:FindResultsSummariesBOResponse"/>
    </message>
    <portType name="ResultServiceSoap">
        <operation name="FindResultsDetailsBO">
            <input message="s0:FindResultsDetailsBOSoapIn"/>
            <output message="s0:FindResultsDetailsBOSoapOut"/>
        </operation>
        <operation name="FindResultsSummariesBO">
            <input message="s0:FindResultsSummariesBOSoapIn"/>
            <output message="s0:FindResultsSummariesBOSoapOut"/>
        </operation>
    </portType>
    <binding name="Results" type="s0:ResultServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindResultsDetailsBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Results.FindResultsDetailsBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FindResultsSummariesBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Results.FindResultsSummariesBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ResultService">
        <port name="Results" binding="s0:Results">
            <soap:address location="http://10.152.3.237:57772/csp/healthshare/hscie_ripple_dev/HSCIEDEV.SOAP.Results.cls"/>
        </port>
    </service>
</definitions>