hscie-ripple-tie/src/main/resources/org/hscieripple/patient/allergies/HSCIEDEV.SOAP.Allergies.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="FindAllergiesDetailsBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="SourceID" type="s:string"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindAllergiesDetailsBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindAllergiesDetailsBOResult" type="s0:AllergiesDetailsResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="AllergiesDetailsResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="SourceID" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:element name="FindAllergiesSummariesBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindAllergiesSummariesBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindAllergiesSummariesBOResult" type="s0:AllergiesSummaryResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="AllergiesSummaryResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="AllergiesList" type="s0:ArrayOfAllergiesSummaryResultRowPairOfAllergiesListKeyAllergiesSummaryResultRow"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfAllergiesSummaryResultRowPairOfAllergiesListKeyAllergiesSummaryResultRow">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="AllergiesSummaryResultRow" nillable="true" type="s0:PairOfAllergiesListKeyAllergiesSummaryResultRow"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfAllergiesListKeyAllergiesSummaryResultRow">
                <s:complexContent>
                    <s:extension base="s0:AllergiesSummaryResultRow">
                        <s:attribute name="AllergiesListKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="AllergiesSummaryResultRow">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="SourceID" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="FindAllergiesDetailsBOSoapIn">
        <part name="parameters" element="s0:FindAllergiesDetailsBO"/>
    </message>
    <message name="FindAllergiesDetailsBOSoapOut">
        <part name="parameters" element="s0:FindAllergiesDetailsBOResponse"/>
    </message>
    <message name="FindAllergiesSummariesBOSoapIn">
        <part name="parameters" element="s0:FindAllergiesSummariesBO"/>
    </message>
    <message name="FindAllergiesSummariesBOSoapOut">
        <part name="parameters" element="s0:FindAllergiesSummariesBOResponse"/>
    </message>
    <portType name="AllergyServiceSoap">
        <operation name="FindAllergiesDetailsBO">
            <input message="s0:FindAllergiesDetailsBOSoapIn"/>
            <output message="s0:FindAllergiesDetailsBOSoapOut"/>
        </operation>
        <operation name="FindAllergiesSummariesBO">
            <input message="s0:FindAllergiesSummariesBOSoapIn"/>
            <output message="s0:FindAllergiesSummariesBOSoapOut"/>
        </operation>
    </portType>
    <binding name="Allergies" type="s0:AllergyServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindAllergiesDetailsBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Allergies.FindAllergiesDetailsBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FindAllergiesSummariesBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Allergies.FindAllergiesSummariesBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="AllergyService">
        <port name="Allergies" binding="s0:Allergies">
            <soap:address location="http://10.152.3.237:57772/csp/healthshare/hscie_ripple_dev/HSCIEDEV.SOAP.Allergies.cls"/>
        </port>
    </service>
</definitions>