hscie-ripple-tie/src/main/resources/org/hscieripple/patient/procedures/HSCIEDEV.SOAP.Procedures.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="FindProceduresDetailsBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="SourceID" type="s:string"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindProceduresDetailsBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindProceduresDetailsBOResult" type="s0:ProceduresDetailsResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ProceduresDetailsResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="SourceID" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:element name="FindProceduresSummariesBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindProceduresSummariesBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindProceduresSummariesBOResult" type="s0:ProceduresSummaryResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ProceduresSummaryResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="ProceduresList" type="s0:ArrayOfProceduresSummaryResultRowPairOfProceduresListKeyProceduresSummaryResultRow"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfProceduresSummaryResultRowPairOfProceduresListKeyProceduresSummaryResultRow">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ProceduresSummaryResultRow" nillable="true" type="s0:PairOfProceduresListKeyProceduresSummaryResultRow"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfProceduresListKeyProceduresSummaryResultRow">
                <s:complexContent>
                    <s:extension base="s0:ProceduresSummaryResultRow">
                        <s:attribute name="ProceduresListKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ProceduresSummaryResultRow">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="SourceID" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="FindProceduresDetailsBOSoapIn">
        <part name="parameters" element="s0:FindProceduresDetailsBO"/>
    </message>
    <message name="FindProceduresDetailsBOSoapOut">
        <part name="parameters" element="s0:FindProceduresDetailsBOResponse"/>
    </message>
    <message name="FindProceduresSummariesBOSoapIn">
        <part name="parameters" element="s0:FindProceduresSummariesBO"/>
    </message>
    <message name="FindProceduresSummariesBOSoapOut">
        <part name="parameters" element="s0:FindProceduresSummariesBOResponse"/>
    </message>
    <portType name="ProcedureServiceSoap">
        <operation name="FindProceduresDetailsBO">
            <input message="s0:FindProceduresDetailsBOSoapIn"/>
            <output message="s0:FindProceduresDetailsBOSoapOut"/>
        </operation>
        <operation name="FindProceduresSummariesBO">
            <input message="s0:FindProceduresSummariesBOSoapIn"/>
            <output message="s0:FindProceduresSummariesBOSoapOut"/>
        </operation>
    </portType>
    <binding name="Procedures" type="s0:ProcedureServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindProceduresDetailsBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Procedures.FindProceduresDetailsBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FindProceduresSummariesBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Procedures.FindProceduresSummariesBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ProcedureService">
        <port name="Procedures" binding="s0:Procedures">
            <soap:address location="http://10.152.3.237:57772/csp/healthshare/hscie_ripple_dev/HSCIEDEV.SOAP.Procedures.cls"/>
        </port>
    </service>
</definitions>