hscie-ripple-tie/src/main/resources/org/hscieripple/patient/orders/HSCIEDEV.SOAP.Orders.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="FindOrdersDetailsBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="SourceID" type="s:string"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindOrdersDetailsBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindOrdersDetailsBOResult" type="s0:OrdersDetailsResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="OrdersDetailsResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="SourceID" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:element name="FindOrdersSummariesBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindOrdersSummariesBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindOrdersSummariesBOResult" type="s0:OrdersSummaryResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="OrdersSummaryResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="OrdersList" type="s0:ArrayOfOrdersSummaryResultRowPairOfOrdersListKeyOrdersSummaryResultRow"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfOrdersSummaryResultRowPairOfOrdersListKeyOrdersSummaryResultRow">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="OrdersSummaryResultRow" nillable="true" type="s0:PairOfOrdersListKeyOrdersSummaryResultRow"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfOrdersListKeyOrdersSummaryResultRow">
                <s:complexContent>
                    <s:extension base="s0:OrdersSummaryResultRow">
                        <s:attribute name="OrdersListKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="OrdersSummaryResultRow">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="SourceID" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="FindOrdersDetailsBOSoapIn">
        <part name="parameters" element="s0:FindOrdersDetailsBO"/>
    </message>
    <message name="FindOrdersDetailsBOSoapOut">
        <part name="parameters" element="s0:FindOrdersDetailsBOResponse"/>
    </message>
    <message name="FindOrdersSummariesBOSoapIn">
        <part name="parameters" element="s0:FindOrdersSummariesBO"/>
    </message>
    <message name="FindOrdersSummariesBOSoapOut">
        <part name="parameters" element="s0:FindOrdersSummariesBOResponse"/>
    </message>
    <portType name="OrderServiceSoap">
        <operation name="FindOrdersDetailsBO">
            <input message="s0:FindOrdersDetailsBOSoapIn"/>
            <output message="s0:FindOrdersDetailsBOSoapOut"/>
        </operation>
        <operation name="FindOrdersSummariesBO">
            <input message="s0:FindOrdersSummariesBOSoapIn"/>
            <output message="s0:FindOrdersSummariesBOSoapOut"/>
        </operation>
    </portType>
    <binding name="Orders" type="s0:OrderServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindOrdersDetailsBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Orders.FindOrdersDetailsBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FindOrdersSummariesBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Orders.FindOrdersSummariesBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="OrderService">
        <port name="Orders" binding="s0:Orders">
            <soap:address location="http://10.152.3.237:57772/csp/healthshare/hscie_ripple_dev/HSCIEDEV.SOAP.Orders.cls"/>
        </port>
    </service>
</definitions>