hscie-ripple-tie/src/main/resources/org/hscieripple/patient/medications/HSCIEDEV.SOAP.Medications.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="FindMedicationsDetailsBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="SourceID" type="s:string"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindMedicationsDetailsBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindMedicationsDetailsBOResult" type="s0:MedicationsDetailsResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="MedicationsDetailsResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="SourceID" type="s:string"/>
                            <s:element minOccurs="0" name="Name" type="s:string"/>
                            <s:element minOccurs="0" name="DoseAmount" type="s:string"/>
                            <s:element minOccurs="0" name="DoseDirections" type="s:string"/>
                            <s:element minOccurs="0" name="DoseTiming" type="s:string"/>
                            <s:element minOccurs="0" name="Route" type="s:string"/>
                            <s:element minOccurs="0" name="StartDate" type="s:string"/>
                            <s:element minOccurs="0" name="StartTime" type="s:string"/>
                            <s:element minOccurs="0" name="MedicationCode" type="s:string"/>
                            <s:element minOccurs="0" name="MedicationTerminology" type="s:string"/>
                            <s:element minOccurs="0" name="Author" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                            <s:element minOccurs="0" name="DateCreated" type="s:string"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:element name="FindMedicationsSummariesBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindMedicationsSummariesBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindMedicationsSummariesBOResult" type="s0:MedicationsSummaryResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="MedicationsSummaryResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="MedicationsList" type="s0:ArrayOfMedicationsSummaryResultRowPairOfMedicationsListKeyMedicationsSummaryResultRow"/>
                            <s:element minOccurs="0" name="StatusCode" type="s:string"/>
                            <s:element minOccurs="0" name="StatusDesc" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="ArrayOfMedicationsSummaryResultRowPairOfMedicationsListKeyMedicationsSummaryResultRow">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="MedicationsSummaryResultRow" nillable="true" type="s0:PairOfMedicationsListKeyMedicationsSummaryResultRow"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfMedicationsListKeyMedicationsSummaryResultRow">
                <s:complexContent>
                    <s:extension base="s0:MedicationsSummaryResultRow">
                        <s:attribute name="MedicationsListKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="MedicationsSummaryResultRow">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="Name" type="s:string"/>
                            <s:element minOccurs="0" name="DoseAmount" type="s:string"/>
                            <s:element minOccurs="0" name="SourceID" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="FindMedicationsDetailsBOSoapIn">
        <part name="parameters" element="s0:FindMedicationsDetailsBO"/>
    </message>
    <message name="FindMedicationsDetailsBOSoapOut">
        <part name="parameters" element="s0:FindMedicationsDetailsBOResponse"/>
    </message>
    <message name="FindMedicationsSummariesBOSoapIn">
        <part name="parameters" element="s0:FindMedicationsSummariesBO"/>
    </message>
    <message name="FindMedicationsSummariesBOSoapOut">
        <part name="parameters" element="s0:FindMedicationsSummariesBOResponse"/>
    </message>
    <portType name="MedicationServiceSoap">
        <operation name="FindMedicationsDetailsBO">
            <input message="s0:FindMedicationsDetailsBOSoapIn"/>
            <output message="s0:FindMedicationsDetailsBOSoapOut"/>
        </operation>
        <operation name="FindMedicationsSummariesBO">
            <input message="s0:FindMedicationsSummariesBOSoapIn"/>
            <output message="s0:FindMedicationsSummariesBOSoapOut"/>
        </operation>
    </portType>
    <binding name="Medications" type="s0:MedicationServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindMedicationsDetailsBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Medications.FindMedicationsDetailsBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FindMedicationsSummariesBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.Medications.FindMedicationsSummariesBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MedicationService">
        <port name="Medications" binding="s0:Medications">
            <soap:address location="http://10.152.3.237:57772/csp/healthshare/hscie_ripple_dev/HSCIEDEV.SOAP.Medications.cls"/>
        </port>
    </service>
</definitions>