ripple-stft-tie/src/main/resources/org/hscieripple/patient/keyworkers/search/HSCIEDEV.SOAP.FindKeyWorkersSummaries.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~   Copyright 2016 Ripple OSI
  ~
  ~      Licensed under the Apache License, Version 2.0 (the "License");
  ~      you may not use this file except in compliance with the License.
  ~      You may obtain a copy of the License at
  ~
  ~          http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~      Unless required by applicable law or agreed to in writing, software
  ~      distributed under the License is distributed on an "AS IS" BASIS,
  ~      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~      See the License for the specific language governing permissions and
  ~      limitations under the License.
  -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
            <s:element name="FindKWSummariesBO">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                        <s:element minOccurs="0" name="DataSource" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="FindKWSummariesBOResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="FindKWSummariesBOResult" type="s0:KWSummaryResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="KWSummaryResponse">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="KeyWorkersList" type="s0:ArrayOfKWResultRowPairOfKeyWorkersListKeyKWResultRow"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody"/>
            <s:complexType name="ArrayOfKWResultRowPairOfKeyWorkersListKeyKWResultRow">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="KWResultRow" nillable="true" type="s0:PairOfKeyWorkersListKeyKWResultRow"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="PairOfKeyWorkersListKeyKWResultRow">
                <s:complexContent>
                    <s:extension base="s0:KWResultRow">
                        <s:attribute name="KeyWorkersListKey" type="s:string" use="required"/>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="KWResultRow">
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="NHSNumber" type="s:long"/>
                            <s:element minOccurs="0" name="Forename" type="s:string"/>
                            <s:element minOccurs="0" name="Surname" type="s:string"/>
                            <s:element minOccurs="0" name="Role" type="s:string"/>
                            <s:element minOccurs="0" name="ContactNumber" type="s:string"/>
                            <s:element minOccurs="0" name="DataSourceName" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="FindKWSummariesBOSoapIn">
        <part name="parameters" element="s0:FindKWSummariesBO"/>
    </message>
    <message name="FindKWSummariesBOSoapOut">
        <part name="parameters" element="s0:FindKWSummariesBOResponse"/>
    </message>
    <portType name="KWSummariesServiceSoap">
        <operation name="FindKWSummariesBO">
            <input message="s0:FindKWSummariesBOSoapIn"/>
            <output message="s0:FindKWSummariesBOSoapOut"/>
        </operation>
    </portType>
    <binding name="KWSummaries" type="s0:KWSummariesServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FindKWSummariesBO">
            <soap:operation soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.FindKeyWorkersSummaries.FindKWSummariesBO" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="KWSummariesService">
        <port name="KWSummaries" binding="s0:KWSummaries"/>
    </service>
</definitions>