hscie-ripple-tie/src/main/resources/org/hscieripple/patient/keyworkers/HSCIEDEV.SOAP.KeyWorkers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.HSCIERipple.org"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.HSCIERipple.org">
	<types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.HSCIERipple.org">
			<s:element name="FindKWDetailsBO">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" name="NHSNumber" type="s:long" />
						<s:element minOccurs="0" name="SourceID" type="s:string" />
						<s:element minOccurs="0" name="DataSource" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FindKWDetailsBOResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="FindKWDetailsBOResult" type="s0:KWDetailsResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="KWDetailsResponse">
				<s:complexContent>
					<s:extension base="s0:Ens_Response">
						<s:sequence>
							<s:element minOccurs="0" name="SourceID" type="s:string" />
							<s:element minOccurs="0" name="Forename" type="s:string" />
							<s:element minOccurs="0" name="Surname" type="s:string" />
							<s:element minOccurs="0" name="Role" type="s:string" />
							<s:element minOccurs="0" name="TeamName" type="s:string" />
							<s:element minOccurs="0" name="DepartmentDescription"
								type="s:string" />
							<s:element minOccurs="0" name="ContactNumber" type="s:string" />
							<s:element minOccurs="0" name="DataSourceName" type="s:string" />
							<s:element minOccurs="0" name="StatusCode" type="s:string" />
							<s:element minOccurs="0" name="StatusDesc" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Ens_Response">
				<s:complexContent>
					<s:extension base="s0:Ens_Messagebody" />
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Ens_Messagebody" />
			<s:element name="FindKWSummariesBO">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" name="NHSNumber" type="s:long" />
						<s:element minOccurs="0" name="DataSource" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FindKWSummariesBOResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="FindKWSummariesBOResult" type="s0:KWSummaryResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="KWSummaryResponse">
				<s:complexContent>
					<s:extension base="s0:Ens_Response">
						<s:sequence>
							<s:element minOccurs="0" name="KeyWorkersList"
								type="s0:ArrayOfKWSummaryResultRowPairOfKeyWorkersListKeyKWSummaryResultRow" />
							<s:element minOccurs="0" name="StatusCode" type="s:string" />
							<s:element minOccurs="0" name="StatusDesc" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType
				name="ArrayOfKWSummaryResultRowPairOfKeyWorkersListKeyKWSummaryResultRow">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0"
						name="KWSummaryResultRow" nillable="true"
						type="s0:PairOfKeyWorkersListKeyKWSummaryResultRow" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="PairOfKeyWorkersListKeyKWSummaryResultRow">
				<s:complexContent>
					<s:extension base="s0:KWSummaryResultRow">
						<s:attribute name="KeyWorkersListKey" type="s:string"
							use="required" />
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="KWSummaryResultRow">
				<s:complexContent>
					<s:extension base="s0:Ens_Response">
						<s:sequence>
							<s:element minOccurs="0" name="Forename" type="s:string" />
							<s:element minOccurs="0" name="Surname" type="s:string" />
							<s:element minOccurs="0" name="Role" type="s:string" />
							<s:element minOccurs="0" name="SourceID" type="s:string" />
							<s:element minOccurs="0" name="ContactNumber" type="s:string" />
							<s:element minOccurs="0" name="DataSourceName" type="s:string" />
							<s:element minOccurs="0" name="KeyContactDate" type="s:string" />
							<s:element minOccurs="0" name="KeyContactTime" type="s:string" />
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
		</s:schema>
	</types>
	<message name="FindKWDetailsBOSoapIn">
		<part name="parameters" element="s0:FindKWDetailsBO" />
	</message>
	<message name="FindKWDetailsBOSoapOut">
		<part name="parameters" element="s0:FindKWDetailsBOResponse" />
	</message>
	<message name="FindKWSummariesBOSoapIn">
		<part name="parameters" element="s0:FindKWSummariesBO" />
	</message>
	<message name="FindKWSummariesBOSoapOut">
		<part name="parameters" element="s0:FindKWSummariesBOResponse" />
	</message>
	<portType name="KeyWorkerServiceSoap">
		<operation name="FindKWDetailsBO">
			<input message="s0:FindKWDetailsBOSoapIn" />
			<output message="s0:FindKWDetailsBOSoapOut" />
		</operation>
		<operation name="FindKWSummariesBO">
			<input message="s0:FindKWSummariesBOSoapIn" />
			<output message="s0:FindKWSummariesBOSoapOut" />
		</operation>
	</portType>
	<binding name="KeyWorkers" type="s0:KeyWorkerServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="FindKWDetailsBO">
			<soap:operation
				soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.KeyWorkers.FindKWDetailsBO"
				style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="FindKWSummariesBO">
			<soap:operation
				soapAction="http://www.HSCIERipple.org/HSCIEDEV.SOAP.KeyWorkers.FindKWSummariesBO"
				style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="KeyWorkerService">
		<port name="KeyWorkers" binding="s0:KeyWorkers" />
	</service>
</definitions>